#board-container {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  padding: 1em;

  .card-container {
    cursor: pointer;
    padding: 1em;

  }
}
