@import "board";
@import "deck";

#game-container {
  background-color: #F5F5F5;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: 20px 20px 60px #cccccc,
  -20px -20px 60px #ffffff;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 4em);

}

#intro-container {
  display: flex;
  flex-direction: column;

  #welcome-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 24em;
    overflow-y: scroll;
  }
}

#end-of-game-container {
  display: flex;
  flex-direction: column;

  #btn-rules-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 24em;
    overflow-y: scroll;

    #rules-container {

      background: #F5F5F5;
      box-shadow: inset 20px 20px 60px #d0d0d0,
      inset -20px -20px 60px #ffffff;
      border-radius: 14px;
      margin-bottom: 2em;
      overflow-y: scroll;
      padding: 3em 2em;
      width: 80%;

      img {
        display: flex;
        width: 60%;
        margin: auto;
      }

    }

  }

  #card-container {
    position: relative;

    .card-lose {
      position: absolute;
      top: 2em;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

      width: 18vh;
      animation-duration: 2000ms;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-delay: 500ms;

      @for $i from 10 through 1 {

        &:nth-child(#{$i} ) {

          animation-name: spin#{$i};

          @keyframes spin#{$i} {

            from {
              filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.05));
              transform: rotate(0deg);

            }
            to {
              filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
              transform: rotate(#{180 / 10 * $i}deg);

            }

          }

        }

      }

    }

  }

}

//media query

@media (max-width: $breakpoint-tablet) and (orientation: landscape) {
  #game-container {
    height: calc(100vh - 2em);

  }
  #end-of-game-container {

    flex-direction: row;
    justify-content: flex-end;

    #card-container {
      .card-lose {

        left: -13em;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 5em;
        width: 30vh;
      }
    }


    #btn-rules-container {
      overflow-y: visible;
      padding-top: 2.5em;
      width: 65%;

      .status-container {
        font-size: 2.5em;
      }

      #rules-container {
        box-shadow: none;
        overflow-y: visible;
        padding: 0 2em;
        width: 100%;

        img {
          width: 80%;
        }

      }

    }
  }
  }


//media query
