@import "board";
@import "deck";

//Style
#intro-container {
  display: flex;
  flex-direction: column;

  #welcome-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 24em;
    overflow-y: scroll;
  }
}
//Style

//Media query
@media (max-width: $breakpoint-tablet) and (orientation: landscape) {
  #intro-container {

    flex-direction: row;
    justify-content: flex-end;

    #welcome-container {
      overflow-y: visible;
      padding-top: 2.5em;
      width: 65%;

    }
  }
}
//Media query
