body {

  #validation-container {

    .popup {
      height: 25%;
      text-align: center;
    }

    .cross-container {
      padding-bottom: 0;
    }

    #title-container {
      padding-bottom: 1em;

      #title {
        color: #4B5B92;
        font-family: 'Hammersmith One', sans-serif;
        font-size: 2em;

      }
    }

    #message-container {
      padding: 0.5em 0.5em 1.5em 0.5em;

      #message {
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        font-weight: 300;

      }
    }
  }
}

//media query
$breakpoint-tablet: 960px;

@media (max-width: $breakpoint-tablet) and (orientation: landscape) {

  body {

    #validation-container {

      .popup {
        height: 64%;
        overflow-y: hidden;


      }
    }
  }
}

//media query
